:root {
    --LIMS-color:#C3D2E4;
    --dark-color: #1F2B3B;

}
#dashboardMainContainer{
    display: flex;
    flex-direction: row;
}
div.dashboard_sidebar{
    width: 20%;
    background: #1F2B3B;
    height: 100vh;
}
div.dashboard_content_container{
    width: 80%;
    background-color: #f4f6f9;
}
h3.dashboard_logo{
    color: var(--LIMS-color);
    font-size: 60px;
    text-align: center;
}
div.dashboard_sidebar_user{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
div.dashboard_sidebar_user img{
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #C3D2E4;
    margin-right: 5px;
}
div.dashboard_sidebar_user span{
    top: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}
ul.dashboard_menu_lists{
    margin-top: 20px;
}
ul.dashboard_menu_lists li{
    padding: 15px 15px;
    text-transform: uppercase;
}
ul.dashboard_menu_lists li a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 20px;
}
ul.dashboard_menu_lists li a i{
    font-size: 25px;
}
ul.dashboard_menu_lists li .menuActive{
    background-image: #f685a1;
    color: #fff;
}
ul.dashboard_menu_lists li:hover{
    background: var(--LIMS-color);
    color: #fff;
    transition: 0.3s all;
}

div.dashboard_topNav{
    background: #fff;
    padding: 20px;
}
div.dashboard_topNav a{
    color: #848383;
    font-size: 18px;
    text-decoration: none;
}
a#logoutBtn{
    float:right;
}
div.dashboard_content{
    padding: 50px 10px 10px 10px;
}
div.dashboard_content_main{
    background: #fff;
    min-height: 800px;
    height: 100%;
}


/* video 7 */
form::after{
    content: "";
    clear: both;
    display: block;
}
form.appForm{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #cecfd0;
    border-radius: 5px;
    background: #f4f6f9;
}
form label{
    font-weight: bold;
    text-transform: uppercase;
}
form input.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;   
}
form.appFormInputContainer{
   margin-bottom: 15px;
}
div#userAddFormContainer{
    padding-top: 100px;
}
button.appBtn{
    background: #f685a1;
    border: 1px solid #f685a1;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    float: right;
}
p.responseMessage{
    font-size: 18px;
    text-align: center;
    margin-top: 33px;
    background: rgba(0, 128, 0, 0.1);
    padding: 20px;
}
p.responseMessage__error{
    background: rgba(128, 0, 0, 0.1);
}
p.responseMessage__success{
    background: rgba(0, 128, 0, 0.1);
}