body{
    background: url('../images/login-background1.jpg');
    background-size: cover;
    object-fit: cover;
}
div.loginHeader{
    margin: 30px;
    text-align: center;
    margin-bottom: 30px;
}
div.loginHeader h1{
    font-size: 70px;
    color: #C3D2E4 ;
    padding: 0px;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}
div.loginHeader p{
    color: #fff;
    font-size: 40px;
    margin: 0px;
    text-transform: uppercase;
    display: inline-block;
}
div.loginHeader p:after{
    content: '';
    display: block;
    height: 5px;
    background: #C3D2E4;
    width: 80%;
    margin:0 auto;
    margin-top: 5px;
}

/* loginBody */
div.loginBody form{
    margin: 0 auto;
    width: 500px;
    background: rgba(0,0,0,.4) ;
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
}

div.loginInputsContainer{
    margin-top: 20px;
}
div.loginInputsContainer label{
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
div.loginInputsContainer input{
    height: 30px;
    width: 100%;
    border: 2px solid #36455A;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}
div.loginButtonContainer{
    margin-top: 40px;
    text-align: center;
}
div.loginButtonContainer button{
    font-size: 20px;
    padding: 10px 30px;
    background:#C3D2E4 ;
    border: none;
    color: black;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}
div#errorMessage{
    background: #fff;
    text-align: center;
    color: red;
    font-size: 20px;
    padding: 10px;
}




/* video 7 */
form::after{
    content: "";
    clear: both;
    display: block;
}
form.appForm{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #cecfd0;
    border-radius: 5px;
    background: #f4f6f9;
}
form label{
    font-weight: bold;
    text-transform: uppercase;
}
form input.appFormInput{
    width: 100%;
    height: 33px;
    border: 1px solid #d6d7da;
    border-radius: 5px;   
}
form.appFormInputContainer{
   margin-bottom: 15px;
}
div#userAddFormContainer{
    padding-top: 100px;
}
button.appBtn{
    background: #f685a1;
    border: 1px solid #f685a1;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    float: right;
}
p.responseMessage{
    font-size: 18px;
    text-align: center;
    margin-top: 33px;
    background: rgba(0, 128, 0, 0.1);
    padding: 20px;
}
p.responseMessage__error{
    background: rgba(128, 0, 0, 0.1);
}
p.responseMessage__success{
    background: rgba(0, 128, 0, 0.1);
}

/* User-add page */
/* video 8 */
div.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
div.column{
    width: 100%;
    padding: 0px 10px;
}
div.column-5{
    width: 41.67%;
}
div.column-7{
    width: 58.33%;
}
h1.section_header{
    font-size: 21px;
    color: #f685a1;
    border-bottom: 1px solid #ffd7e1;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #f690bf;
    margin-bottom: 15px;
}
table, th, td{
    border: 1px solid #cacaca;
    border-collapse: collapse;
}
table{
    width: 100%;
}
table th{
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #f4f6f9;
}
table td{
  font-size: 13px; 
  text-align: center; 
}



